*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background:white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.calculator{
    background: black;
    width: 400px;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
.display{
    text-align: right;
    margin: 10px 0;
}
.display-previous-input{
    padding: 10px 5px;
    border-bottom: 2px dotted white;
    font-size: 30px;
}

.display-input{
    margin-top: 10px;
    font-size: 40px;
}

.numbers{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    
}

.numbers span{
    flex: 1;
    background: #272727;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    user-select: none; 
}
.numbers span:active{
    font-size: 22px;
}

.display-previous-input, .clear, #multiply, #subtract, #add, #equals-to, #divide, #point{
    color: #05f5dd;
}

.clear{
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.4s; */
        
}

.clear span{
    width: 90%;
    height: 40px;
    background: #272727;
    font-size: 24px;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.clear:active{
    scale: 0.9;
}


h1{
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    text-decoration: underline;
}